
*.ipynb
*.toml
plugins/package/helper/__init__.py
.idea/inspectionProfiles/profiles_settings.xml
dags/__pycache__/etl_dag.cpython-38.pyc
plugins/package/airflow_custom_operators/__pycache__/__init__.cpython-38.pyc
plugins/package/airflow_custom_operators.egg-info/top_level.txt
plugins/package/airflow_custom_operators.egg-info/SOURCES.txt
plugins/package/airflow_custom_operators.egg-info/PKG-INFO
plugins/package/airflow_custom_operators.egg-info/dependency_links.txt
plugins/dist/airflow_custom_operators-0.0.1-py3-none-any.whl
plugins/__pycache__/setup.cpython-38.pyc
plugins/.idea/plugins.iml
bikeshare_nyc/unzipped_data/__MACOSX/._202006-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/__MACOSX/._202011-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202012-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202011-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202010-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202009-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202008-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202007-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202006-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202005-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202004-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202003-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202002-citibike-tripdata.csv
bikeshare_nyc/unzipped_data/202001-citibike-tripdata.csv
